{% extends 'base.html' %}

{% block content %} 

<div class="container mt-5 mb-5">
    <div class="row">
        {% for product in product_objects %}
        <div class="col-md-3">
            <div class='card'>
            <img src='{{ product.image }}' class="img-thumbnail">
            <div class='card-title'>{{ product.title }}</div>
            <div class='card-text'>$ {{ product.price }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    
{% endblock content %}