{% extends 'base.html' %}

{% block content %} 

<div class="container mt-5 mb-5">

<div class='row'>
    <div class='col-md-12'>
        <form class='card card-sm'>
            <div class='card-body row no-gutters align-items-center'>
                <div class='col'>
                    <input type='search' name='item_name' placeholder='Search fo products' class='form-control form-control-borderless'>
                </div>
                <div class='col-auto'>
                    <button class='btn btn-success' type='submit'>Search</div>
                </div>
            </div>
        </form>
    </div>
</div>

    <div class="row">
        {% for product in product_objects %}
        <div class="col-md-3">
            <div class='card'>
            <img src='{{ product.image }}' class="img-thumbnail">
            <div class='card-title'>{{ product.title }}</div>
            <div class='card-text'>$ {{ product.price }}</div>
            </div>
            <a href='/{{ product.id }}' class='btn btn-warning'>View</a>
            <button id={{ product.id }} class='btn atc btn-warning'>Add to cart</button>
        </div>
        {% endfor %}
    </div>

    <div class='row mt-5 justify-content-center'>
        <div class'col-md-3 offset-md-4'>
            <ul class='pagination g-5'>
                {% if product_objects.has_previous %}
                <li class='page-item'>
                    <a class='page-link' href='?page={{ product_objects.previous_page_number }}'>Previous</a>
                </li>
                {% endif %}

                <li class='page-item active'>
                    <a class='page-link' href='?page={{ product_objects.number }}'>Current</a>
                </li>

                {% if product_objects.has_next %}
                <li class='page-item'>
                    <a class='page-link' href='?page={{ product_objects.next_page_number }}'>Next</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

</div>
<script type='text/javascript'>
console.log('This is working');

if(localStorage.getItem('cart')==null){
    var cart = {};
}
else{
    cart = JSON.parse(localStorage.getItem('cart'));
}

$(document).on('click', '.atc', function(){
    console.log("Tombol button ATC ini sudah di-klik");
    var item_id = this.id.toString();
    console.log(item_id);

    if(cart[item_id]!=undefined){
        cart[item_id] = cart[item_id] + 1;
    }
    else{
        cart[item_id] = 1;
    }
    console.log(cart);
    localStorage.setItem('cart', JSON.stringify());

});

</script>
    
{% endblock content %}